<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Gimcana Tecnològica - Demo</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<link href="https://albertsalud.ddns.net/assets/gimcana/css/styles.css" rel="stylesheet">

</head>
<body class="container">
	<nav class="navbar dd5 mb-3">
	  <div class="container">
	    <span class="navbar-brand mb-0 h1 dd5">
			 <img src="https://albertsalud.ddns.net/assets/gimcana/images/dd5logo.jpg" alt="Logo" width="120" height="120" class="rounded d-inline-block align-text-middle">
			Gimcana tecnològica
		</span>
	  </div>
	</nav>
	<div class="container mb-5">
		<p>Des de l'any <strong>2.015 fins a l'any 2.022</strong> es van portar a terme fins a 7 edicions del joc batejat com <strong>Gimcana tecnològica</strong>, organitzat per l'associació de jocs de taula
			<a href="https://www.daudecinc.cat" target="_blank">Dau de cinc</a> al poble de <a href="https://www.santclimentdellobregat.cat/" target="_blank">Sant Climent de Llobregat</a>.</p>
		<p>El joc consistia en trobar una paraula oculta. Els participants, mòvil en mà, havien de resoldre una sèrie de rondalles que els enviaven a diversos racons
			del poble. A cadascuna de les possibles ubicacions, un codi QR servia per a verificar si el participant estava en el punt correcte. 
			Si havien interpretat la rondalla correctament, trobaven una de les 5 lletres de la paraula oculta, i se'ls hi
			mostrava una nova rondalla per anar a la següent ubicació. Guanyava el participant que trobava primer totes les lletres de la paraula.</p>
		<p>En aquesta versió de demostració no és necessari desplaçar-se, però servirà per fer-se a la idea del funcionament de la mateixa.</p>
		<p>Introdueix el teu nom, i disfruta de la partida:</p>
		<form method="post" action="start">
			<div class="col-sm-6 col-lg-3 mb-3">
			  <input type="text" class="form-control" id="name" placeholder="Introdueix el teu nom" name="name" />
			</div>
			<input type="submit" class="btn dd5" value="Comença" />
		</form>
	</div>
	<div class="container">
		<footer class="dd5 d-flex justify-content-between">
<!--			<div class="row d-flex align-items-center">-->
<!--				<div class="col justify-content-end">Albert Salud</div>-->
<!--			</div>-->
		</footer>
	</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

</body>
</html>